@using Webdiyer.WebControls.Mvc
@model Webdiyer.WebControls.Mvc.PagedList<BlogSystem.Dto.ArticleDto>

@{
    ViewBag.Title = "AritcleList2";
}
<link href="~/Content/index.css" rel="stylesheet" />
<link href="~/Content/categorylist.css" rel="stylesheet" />


<div>
    <div class="col-md-12">
        <h1>文章列表</h1>
        <div id="search">
            <div class="layui-inline">
                <label class="layui-form-label">邮箱:</label>
                <div class="layui-input-block">
                    <input type="text" name="email" class="key-word layui-input" id="key-word" value="请输入搜索内容"  onkeyup="ck(this.value);">
                </div>
            </div>
            <div class="layui-inline">
                <button class="layui-btn layuiadmin-btn-useradmin" id="search-button" lay-submit="" lay-filter="LAY-user-front-search">
                    <i class="layui-icon layui-icon-search layuiadmin-button-btn"></i>
                </button>
            </div>
        </div>
        <p>
            @Html.ActionLink("添加文章", "CreateArticle")
        </p>
        <table class="table table-bordered" style="width:100%"id="content">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Title)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CreateTime)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Email)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.GoodCount)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.BadCount)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {

                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Title)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CreateTime)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Email)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.GoodCount)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.BadCount)
                        </td>
                        <td class="list-wrap">
                            @Html.ActionLink("编辑", "EditArticle", new { id = item.Id }) |
                            @Html.ActionLink("详情", "ArticleDetails", new { id = item.Id }) |
                            @Html.ActionLink("删除", "RemoveArticle", new { id = item.Id })
                        </td>
                    </tr>
                }
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="6">
                        <nav>
                            @Html.Pager(Model, new PagerOptions
                            {
                           PageIndexParameterName = "pageIndex",
                           ContainerTagName = "ul",
                           CssClass = "pagination",
                           CurrentPagerItemTemplate = "<li class=\"active\"><a href=\"#\">{0}</a></li>",
                           DisabledPagerItemTemplate = "<li class=\"disabled\"><a>{0}</a></li>",
                           PagerItemTemplate = "<li>{0}</li>",
                           Id = "bootstrappager"
                            })
                        </nav>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>
<script src="~/Scripts/index.js"></script>
<style>
    .table {
        border-collapse: separate;
        border-spacing: 0;
    }

    tbody {
        text-align: center;
    }

    .pagination {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin: 0;
        padding: 3px;
    }

    h1 {
        text-align: center;
        font-weight: bold;
    }

    p {
        font-size: 16px;
    }

        p a {
            color: cyan;
        }

    .pagination li {
        margin-right: 10px;
    }

        .pagination li:hover {
            background-color: springgreen;
        }

    .layui-header {
        position: relative;
        top: -20px;
    }
</style>

@section scripts{
    <script type="text/javascript">
        function $(id) {
            return document.getElementById(id)
        }
        var putWordsObj = $('key-word');
        putWordsObj.onfocus = function () {
            if (this.value == '请输入搜索内容') this.value = '';
        }
        putWordsObj.onblur = function () {
            if (!this.value) this.value = '请输入搜索内容';
        }
        //search
        $('search-button').onclick = function () {
            var content = $('content').innerHTML;
            var keyWord = $('key-word').value;
            content = search_do(content, keyWord);
            $('content').innerHTML = content;
            //alert(content)
        }
        function search_do(content, keyWord) {
            var keyWordArr = keyWord.replace(/[\s]+/g, ' ').split(' ');
            var re;
            for (var n = 0; n < keyWordArr.length; n++) {
                re = new RegExp("" + keyWordArr[n] + "", "gmi");
                content = content.replace(re, '<span style="color:red;font-weight: bold;">' + keyWordArr[n] + '</span>');
            }
            return content;
        }
    </script>
}