@using Webdiyer.WebControls.Mvc
@model Webdiyer.WebControls.Mvc.PagedList<BlogSystem.Dto.ArticleDto>

@{
    ViewBag.Title = "AritcleList";
}
<link href="~/Content/categorylist.css" rel="stylesheet" />
<link href="~/Content/index.css" rel="stylesheet" />
<div>
    <div @*id="wrap_left"*@ class="col-md-3">
        <ul>
            <li class="blog">
                博客园
            </li>
            <li class="borBottom">
                <p class="create">
                    @Html.ActionLink("创建分类", "CreateCategory", "Article")
                    <span id="sanjiao"></span>
                </p>
                <ul class="showorhidden">
                    <li>
                        @Html.ActionLink("分类管理", "CategoryList", "Article")
                    </li>
                </ul>
            </li>
            <li class="borBottom">
                <p class="article">
                    @Html.ActionLink("创建文章", "CreateArticle", "Article")
                    <span id="sanjiaoarticle"></span>
                </p>
                <ul id="showorhiddenarticle">
                    <li>
                        @Html.ActionLink("文章管理", "AritcleList2", "Article")
                    </li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="col-md-9">
        <h2>文章列表</h2>
        <p>
            @Html.ActionLink("添加文章", "CreateArticle")
        </p>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Title)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CreateTime)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Email)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.GoodCount)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.BadCount)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {

                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Title)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CreateTime)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Email)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.GoodCount)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.BadCount)
                        </td>
                        <td class="list-wrap">
                            @Html.ActionLink("编辑", "EditArticle", new { id = item.Id }) |
                            @Html.ActionLink("详情", "ArticleDetails", new { id = item.Id }) |
                            @Html.ActionLink("删除", "RemoveArticle", new { id = item.Id })
                        </td>
                    </tr>
                }
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="6">
                        @*<ul class="pageList">
                                @if (ViewBag.PageCount <= 7)
                                {
                                    //实际页面数量小于等于可容纳的页面
                                    for (int i = 1; i < ViewBag.PageCount; i++)
                                    {
                                        <li>
                                            <a href="/Article/AritcleList?pageIndex=@(i-1)">
                                                @i
                                            </a>
                                        </li>
                                    }
                                }
                                else
                                {
                                    //实际页面数量大于等于可容纳的页面
                                    if (ViewBag.PageIndex <= 7 / 2)
                                    {
                                        for (int i = 1; i <= 7; i++)
                                        {
                                            if (i == ViewBag.PageIndex+1)
                                            {
                                                <li>
                                                    <span style="color:red;">
                                                        @i
                                                    </span>
                                                </li>
                                            }
                                            else
                                            {
                                                <li>
                                                    <a href="/Article/AritcleList?pageIndex=@(i-1)">
                                                        @i
                                                    </a>
                                                </li>
                                            }
                                        }
                                    }
                                    else if ((ViewBag.PageCount - ViewBag.PageIndex -1) <= 7 / 2)
                                    {
                                        for (int i = ViewBag.PageCount - 6; i < ViewBag.PageCount; i++)
                                        {
                                            if (i == ViewBag.PageIndex+1)
                                            {
                                                <li>
                                                    <span style="color:red;">
                                                        @i
                                                    </span>
                                                </li>
                                            }
                                            else
                                            {
                                                <li>
                                                    <a href="/Article/AritcleList?pageIndex=@(i-1)">
                                                        @i
                                                    </a>
                                                </li>
                                            }

                                        }
                                    }
                                    else
                                    {
                                        for (int i = ViewBag.PageIndex - 7 / 2 + 1; i <= ViewBag.PageIndex + 7 / 2 + 1; i++)
                                        {
                                            if (i == ViewBag.PageIndex+1)
                                            {
                                                <li>
                                                    <span style="color:red;">
                                                        @i
                                                    </span>
                                                </li>
                                            }
                                            else
                                            {
                                                <li>
                                                    <a href="/Article/AritcleList?pageIndex=@(i-1)">
                                                        @i
                                                    </a>
                                                </li>
                                            }
                                        }
                                    }
                                }
                            </ul>*@
                        <nav>
                            @Html.Pager(Model, new PagerOptions
                       {
                           PageIndexParameterName = "pageIndex",
                           ContainerTagName = "ul",
                           CssClass = "pagination",
                           CurrentPagerItemTemplate = "<li class=\"active\"><a href=\"#\">{0}</a></li>",
                            DisabledPagerItemTemplate = "<li class=\"disabled\"><a>{0}</a></li>",
                                PagerItemTemplate = "<li>{0}</li>",
                             Id = "bootstrappager"
                            })
                        </nav>
                    </td>
                </tr>
            </tfoot>
        </table>
        <div>
            @Html.ActionLink("Back to List", "Index", "Home")
        </div>
    </div>
</div>
<script src="~/Scripts/index.js"></script>
<style>
    .pagination {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin: 0;
        padding: 3px;
    }
</style>