@model BlogSystem.Dto.ArticleDto
<link href="~/Content/details.css" rel="stylesheet" />
<link rel="stylesheet" href="https://at.alicdn.com/t/font_1341852_1yfpq1jqe91.css">
@{
    ViewBag.Title = "ArticleDetails";
}
<h2>文章详情</h2>
<style>
    #btnLike {
        width: 51%;
        height: 7%;
        float: left;
        margin-left: -62px;
        background-image: url('../../Images/点赞.png');
    }

    #bad-like {
        width: 51%;
        height: 7%;
        background-image: url('../../Images/反对.png');
    }

    ol {
        width: 50%;
    }
</style>
<div>
    <dl class="dl-horizontal table-bordered">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Content)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Content)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreateTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreateTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GoodCount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GoodCount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BadCount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BadCount)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ImagePath)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ImagePath)
        </dd>
        <dt>
            类别
        </dt>
        <dd>
            @foreach (var item in Model.CategoryNames)
            {

                @item

            }
        </dd>

    </dl>
    </div>
    <div class="txtComment">
        <input type="text" name="txtComment" id="txtComment" value="" />
        <button onclick="addComment()" class="layui-btn">添加评论</button>
    </div>

    <p>
        <div class="btn_wrap">
            <div onclick="btnGoodHandler(this)" id="btnLike">

            </div>
            <div onclick="btnBadHandler(this)" id="bad-like">

            </div>
        </div>
        <br />
        @Html.ActionLink("编辑", "EditArticle", new { id = Model.Id }) |
        @Html.ActionLink("返回上一列", "AritcleList2")
    </p>
    <ol>
        @foreach (var comment in ViewBag.Comments)
        {
            <li>
                <span>@comment.Content</span>
                <br />
                <span>@comment.Email @comment.CreateTime</span>
            </li>
        }
    </ol>
    <script>
    //1获取操作元素
    var btnLike = document.querySelector("#btnLike"),
        badLike = document.querySelector("#bad-like");
    init();
    function init() {
        btnLike.addEventListener("click", clickGoodHandel);
          badLike.addEventListener("click", clickBadHandel);
    }
    function clickGoodHandel() {
        btnLike.style.backgroundImage = 'url("../../Images/点赞 (1).png")';
    }
     function clickBadHandel() {
        badLike.style.backgroundImage = 'url("../../Images/反对 (2).png")';
    }
        var articleId = '@Model.Id';
        function btnGoodHandler(btn) {
            $.ajax({
                url: "/Article/GoodCount/"+articleId,
                type: "post"
            }).done(() => {
                //alert("点赞成功");
                btn.disabled = false;
            });
        }
        function btnBadHandler(btn) {
            $.ajax({
                url: "/Article/BadCount/"+articleId,
                type: "post"
            }).done(() => {
                //alert("反对成功");
                btn.disabled = true;
            });
        }

        function addComment() {
            $.ajax({
                url: "/Article/AddComment",
                type: "post",
                data: {
                    Id: '@Model.Id',
                    Content:document.getElementById("txtComment").value
                }
            }).done(() => {
                alert("添加评论成功");
                location.reload();
            });
    }
    </script>


